<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav><a href="/">Home</a></nav>
    <% if (item) { %>
    <h2><%= item.name %> detail</h2>
    <ol>
        <li>Manufacturer: <%= item.manufacturer %></li>
        <li>Price:<span class="price"> $<%= item.price %></span></li>
        <li>Feature(s):
            <ul>
                <% for (let i = 0; i < item.feature.length; i++) { %>
                    <li><%= item.feature[i] %></li>
                <% } %>
            </ul>
        </li>
    </ol>
    <% } else { %>
    <p><%= searchingItem %> not found</p>
    <% } %>
</body>